@keyframes blogInAnimation {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.blog {
    position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 30px;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
    animation: blogInAnimation ease-out 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    margin-bottom: 30px;
}
.blog:hover {
    box-shadow: 5px 4px 10px 7px #d0d0d0;
}
.blog .title {
    position: relative;
    width: 100%;
    height: 45px;
}
.blog .title p {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 19px;
}
.blog .disc {
    position: relative;
    width: 100%;
    height: 100px;
}
.blog .disc p {
    position: absolute;
    left: 40px;
    top: 10%;
    font-weight: 300;
    font-size: 14px;
}
.blog .blog_line {
    width: 100%;
    height: 1px;
    background-color: #d0d0d0;
}