.blogs {
    position: relative;
    min-height: calc(100vh - 310px);
    height: auto;
}

.blogs .container {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.blogs .tomodati {
    position: absolute;
    bottom: 10%;
    left: -41px;
    width: 100px;
}